<%- include('partials/header', { }) %>

  <body class="signin">
    <main class="container">
      <h1 class="h3 col text-center pb-5 pt-1 text-white">Password Reset</h1>
      <div class="col text-center py-5">&nbsp;</div>
      <form method="POST" class="col signin" >
        <h5 class="h5 text-center pb-3">
          Request Password Reset
        </h5>
        <div class="row">
          <span>Enter your account email and a message with further information will be sent.</span>
        </div>
        <div class="row">
          <input id="username" type="text" class="col form-control" name="username" placeholder="Email address" autocomplete="username" required>
        </div>
        <div class="row justify-content-between pt-4">
          <div class="col-3 align-middle">
          </div>
          <button type="submit" class="col-3 btn btn-primary p-0">Request</button>
        </div>
      </form>
    </main>
  </body>
  <%- include('partials/footer') %>